* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        /* background-image: url('bg.jpg'); */
        background-size: cover;
        font-family: 'Roboto', sans-serif;
}
.form{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZQUK-d9LVfdAoh4bo18xscMzDL-BfaXESvT3MQxv5-g&s');
}

.container {
        max-width: 600px;
        margin: 50px auto;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
        display: flex;
        flex-direction: column;
        align-items: center;
}

label {
        margin-bottom: 10px;
        font-weight: bold;
}

input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
}

button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

button:hover {
        background-color: #2980b9;
}

.result {
        margin-top: 30px;
        text-align: center;
}

h3 {
        font-weight: bold;
}

#bmiResult {
        font-size: 30px;
        font-weight: bold;
        color: #3498db;
}
